<div class="flexcontainer center">
  <div id="coming-soon">
    <%= image_tag('temp-logo.png', :class => 'coming-soon-image') %>
    <p>COMING SOON</p>
    <a href="https://www.facebook.com/djscrib06/" target="_blank">
      <i class="fa fa-facebook"></i>
    </a>
    <a href="https://www.instagram.com/djscrib06" target="_blank">
      <i class="fa fa-instagram"></i>
    </a>
    <a href="https://twitter.com/djscrib06" target="_blank">
      <i class="fa fa-twitter"></i>
    </a>
    <i class="fa fa-snapchat"></i>
    <a href="https://www.mixcloud.com/DJSCrib06/" target="_blank">
      <i class="fa fa-mixcloud"></i>
    </a>
  </div>

<!--  <hr class="divider">-->
<!--  <div id="sign-up-form">-->
<!--    <div class="ctct-inline-form" data-form-id="31ca48c5-4f88-4a91-a2f1-9a605af45f7b"></div>-->
<!--  </div>-->
</div>

