<div class="center-parent">
  <div class="center-body">
    <%= image_tag('temp-logo', :class => 'coming-soon-image') %>
    <h1 class="coming-soon-text">Coming Soon</h1>
    <a href="https://www.facebook.com/djscrib06/" target="_blank">
      <i class="fa fa-facebook"></i>
    </a>
    <a href="https://www.instagram.com/djscrib06" target="_blank">
      <i class="fa fa-instagram"></i>
    </a>
    <a href="https://twitter.com/djscrib06" target="_blank">
      <i class="fa fa-twitter"></i>
    </a>
    <i class="fa fa-snapchat"></i>
    <a href="https://www.mixcloud.com/DJSCrib06/" target="_blank">
      <i class="fa fa-mixcloud"></i>
    </a>
  </div>
</div>



